.pagination {
  &__page {
    border: none;
    padding: 8px;
    border-radius: 6px;
    &_active {
      color: #ccc;
    }
  }

  &__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
