.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 12px 24px;
}

.header.dark {
  background-color: #23272f;
}

.header.light {
  background-color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
}

.date {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.img {
  cursor: pointer;
}