.banner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
}

.info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.extra,
.author {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
